.view-body {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  
  .nav-tabs {
    .nav-item {
      width: 50%;
      text-align: center;
    }
    .nav-link {
      font-size: 20px;
    }
  }

  .view-order-title {
    width: 100%;
    text-align: center;
    font-size: 30px;
    background-color: #fff;
    color: #000;
    font-weight: 500;
  }
  .view-content {
    padding-bottom: 50px;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    .order-total {
      height: 50px;
      width: 100%;
      background-color: #000000;
      bottom: 0;
      position: fixed;
      display: flex;
      .view-total {
        flex-grow: 1;
        color: #fff;
        font-size: 20px;
        line-height: 50px;
        padding-left: 20px;
      }
      .button {
        border-radius: 0;
        margin-right: 5px;
        font-size: 16px;
        border: none;
        color: #fff;
      }
      .btn-request {
        background-color: green;
      }
      .btn-pay {
        background-color: royalblue;
      }
    }
    .view-card {
      position: relative;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      width: 100%;
      max-width: 500px;
      margin: 10px auto;
      text-align: center;
      font-family: arial;
      padding: 10px;
      &.card-doing {
        background-color: #fafafa;
      }
      &.card-done {
        background-color: gray;
      }
      .card-total {
        text-align: right;
        padding-right: 20px;
        font-weight: bold;
      }
      .order-index {
        position: absolute;
        right: 10px;
        top: 10px;
        color: #000;
        font-weight: bold;
        font-size: 28px;
        line-height: 50px;
        background-color: #fff;
        width: 50px;
        border-radius: 50%;
      }
      .order-name {
        background-color: #000;
        color: white;
        padding: 12px;
        font-size: 18px;
        text-align: left;
        padding-left: 20px;
      }
      .order-list {
        text-align: left;
        margin: 10px;
        .order-item {
          width: 100%;
          font-size: 18px;
          height: 40px;
          line-height: 40px;
          display: flex;
          border-bottom: solid 1px;
          .item-details {
            flex-grow: 1;
          }
          .item-actions {
            width: 100px;
            height: 40px;
            i {
              width: 30px;
              height: 30px;
            }
            .action-doing {
              color: green;
            }
            .action-done {
              color: blueviolet
            }
            .action-cancel {
              color: gray;
            }
          }
          .item-total {
            width: 100px;
            text-align: right
          }
          &.item-doing {
            color: green;
          }
          &.item-cancel {
            text-decoration: line-through;
            color: gray;
          }
          &.item-done {
            color: blueviolet;
          }
        }
      }
      .status {
        font-size: 20px;
        font-weight: bold;
        &.status-pending {
          color: #000;
          background-color: yellow;
        }
        &.status-doing {
          color: #fff;
          background-color: blueviolet;
        }
        &.status-done {
          color: #fff;
          background-color: gray;
        }
      }
    }
  }
}